In [9]:
#Q1 
#Ans : a)By passing the given list to the iter() function

list1=[1,2,3,4]
print(type(list1))
list2=iter(list1)
print(type(list2))

print(next(list2))
print(next(list2))
print(next(list2))

<class 'list'>
<class 'list_iterator'>
1
2
3

In [15]:
#Q2 If the function contains at least one "yield" statement , then it becomes
#Ans : b) a generator function
    
list1=[1,2,3,4,5]

def sq(list1):
    for i in list1:
     yield i*i

gen=sq(list1)
print(type(gen))

for i in gen:
    print(i)

<class 'generator'>
1
4
9
16
25

In [21]:
#Q3
#Ans : b) 1,9

mylist=[1,3,6,10]
a=(x**2 for x in mylist)
print(a)
print(next(a),next(a))

<generator object <genexpr> at 0x00000000053F34C8>
1 9

In [24]:
#Q4
#Ans : d) All of the above

In [28]:
#Q5
#Ans : d) 50

def Foo(n):
    def multiplier(x):
        return x*n
    return multiplier

a=Foo(5)
b=Foo(5)

print(a)
print(b)
print(a(2))
print(b(2))
print(a(b(2)))

<function Foo.<locals>.multiplier at 0x0000000005480E58>
<function Foo.<locals>.multiplier at 0x0000000005480B88>
10
10
50

In [4]:
#Q6 
#Ans : c)

def make_pretty(func):
    def inner():
        print("i got decorated")
        func()
    return inner

def ordinary():
    print("i am ordinary")
    
pretty=make_pretty(ordinary)
pretty()

i got decorated
i am ordinary

In [ ]:
#Q7 Getters and setters in python
#Ans : d) @property

In [30]:
#Q8
#Ans : b) getter() , setter() and delete()

In [ ]:
#Q9
#Ans  d) None of the above

In [38]:
#Q10 
#Ans : b) Both printHello() and a reference to the same onject

def printHello():
    print("Hello")
    
a=printHello()

print(a)
print(type(printHello()))
print(type(a))
print(id(printHello()))
print(id(a))

Hello
None
Hello
<class 'NoneType'>
<class 'NoneType'>
Hello
8791383825632
8791383825632

In [5]:
#Q11 
#Ans  c) a= 20

def outerFunction():
    global a
    a=20
    def innerFunction():
        global a
        a = 30
        print('a=',a)
a=10
outerFunction()
print('a=',a)

a= 20

In [ ]:
#Q12
#Ans : a) A class is a blueprint for the object

In [45]:
#Q13
#Ans : c)Java

class Foo:
    def printLine(self,line='Python'):
        print(line)
        
ol=Foo()
ol.printLine('Java')

Java

In [1]:
#Q14 
#Ans : b) This function is called , when the new object is instantiated

In [5]:
#Q15 
#Ans : b) 1 1

class Point:
    def __init__(self,x=0,y=0):
        self.x=x+1
        self.y=y+1
        
p1=Point()
print(p1.x,p1.y)
#The self is getting substituted by the object p1

1 1

In [6]:
#Q16 Which code used inheritance
#Ans : c)

class Foo:
    pass
class Hoo(Foo):
    pass

In [ ]:
#Q17 If your class in inherited from 2 different classes , it is called
#Ans : b) Multiple inheritance

In [ ]:
#Q18 
#Ans d) All of the above

In [7]:
#Q19
#Ans : b) 4 6

class Point:
    def __init__(self,x=0,y=0):
        self.x=x
        self.y=y
        
    def __sub__(self,other):
        x=self.x + other.x
        y=self.y + other.y
        return Point(x,y)

p1=Point(3,4)
p2=Point(1,2)
result=p1-p2
print(result.x,result.y)

4 6

In [ ]:
#Q20 Opening a file in 'a' mode 
#Ans c) Opens the file for appending , at the end of the file

In [ ]:
#Q21 f=open("test.txt")
#Ans b) Opens test.txt file for reading only

In [ ]:
#Q22
#Ans a)

#with open("test.txt",encoding='utf-8') as f:
    #perform file operation

In [13]:
#Q23
#Ans d) All of the above

#f=open('test.txt','r',encoding='utf-8')
#f.read()

In [7]:
#Q24
#Ans c) prints all the directories and files inside a given directory

import os
os.listdir()

['.ipynb_checkpoints',
 'Assignment -1 .ipynb',
 'Assignment -2-Copy1.ipynb',
 'Assignment -2.ipynb',
 'assignment 1.pdf',
 'assignment 2.pdf',
 'assignment 3.pdf',
 'Python Objective assignment.ipynb',
 'python objective.pdf',
 'python subjective1-1.pdf']

In [ ]:
#Q25 
#Ans a) An exception is an error which occurs in the runtime

In [ ]:
#Q26 What will happen if we try to open a file that doesn't exist
#Ans : c) An exception is raised

In [15]:
#Q27
#Ans  b) 2.0

number=5.0
try:
  r=10/number
  print(r)
except:
  print("oops!Error occured")

2.0

In [25]:
#Q28
#Ans  c) prints two if the TypeError or ZeroDivisionError ocuurs

try:
#    a=12/0
#    print(a)
    b=2+'2'
    print(b)
except(TypeError,ZeroDivisionError):
 print("two")

two

In [ ]:
#Q29
#Ans c) You can create a user-defined exception by deriving a class from an Error class

In [ ]:
#Q30
#Ans d)

In [26]:
#Q31
#Ans b)

def printLine(text):
    print(text,'is awesome')

printLine('python')

python is awesome

In [31]:
#Q32 A function which doesnt return anything , returns a 
#Ans b) None object

In [36]:
#Q33
#Ans  b)

#positional arguments
def greetPerson(*name):
    print('Hello',name)
    print(name)
    print(*name)
    
greetPerson('Frodo','Sauron')

Hello ('Frodo', 'Sauron')
('Frodo', 'Sauron')
Frodo Sauron

In [37]:
#Q34 recursive function
#Ans b) A function that calls itself

In [39]:
#Q35
#Ans  c)25

result=lambda x:x*x
print(result(5))

25

In [44]:
#Q36
#Ans  a) 10

def Foo(x):
    if(x==1):
        return 1
    else:
        return x+Foo(x-1)
    
print(Foo(4))

10
1
3

In [47]:
#Q37
#Ans  c)

from math import pi
print(pi)

3.141592653589793

In [ ]:
#Q38 . operator used to import modules from a package
#Ans a) . operator

#package is a directory . It must conatin a __init__.py file which tells its a package
#modules are .py codes inside the directory
#modules accessed - package.module

In [48]:
#Q39
#Ans  b) (1,3,6)

numbers=[1,3,6]
newNumbers=tuple(map(lambda x:x,numbers))
print(newNumbers)

(1, 3, 6)

In [50]:
#Q40
#Ans c) Nothing will be printed

if None:
    print("hello")

In [ ]:
#Q41  if-elif-else executes only one block of code among several blocks
#Ans a) True

In [51]:
#Q42
#Ans  a)

for i in [1,0]:
    print(i+1)

2
1

In [ ]:
#43
#Ans c) Both for and while loops have an optional else statement

In [1]:
#Q44
#Ans b) 10

i=sum=0
while i<=4:
    sum+=i
    i=i+1
    
print(sum)

10

In [2]:
#Q45
#Ans c) 4 is printed infinitely until the program closes

#while 4==4:
#    print('4')

In [3]:
#Q46 Is it better to use a for loop instead of while when iterating thru a sequence
#Ans b) For loop is more pythonic

In [4]:
#Q47
#Ans d) all of the above

In [6]:
#Q48
#Ans a)

for char in 'PYTHON STRING':

    if char==' ':
        break
    print(char,end="")
    
    if char=='O':
        continue

PYTHON

In [ ]:
#Q49 Pass statement
#Ans c)It is used a placeholder for future implementation of functions ,loops

In [ ]:
#Q50
#Ans c) Any char such as comma(,) or tab(\t) that is used to seperate the column data

In [ ]:
#Q51 First row in a csv or tsv
#Ans a) Column names of the data

In [18]:
#Q52
#Ans b) csv.reader(my_data,delimiter='\t')

import csv
a=csv.reader(open(r"C:\Users\SamG\Desktop\Python_ML_Krish_Naik\examples\ex1.csv"),delimiter='\t')
for i in a:
    print(i)

['a,b,c,d,message']
['1,2,3,4,hello']
['5,6,7,8,world']
['9,10,11,12,foo']

In [19]:
#Q53
#Ans b) The row data as a list

In [ ]:
#Q54 
#Ans

In [11]:
#Q55
#Ans c)pandas.read_csv('hrdata.csv')

import pandas as pd
a=pd.read_csv(r"C:\Users\SamG\Desktop\Python_ML_Krish_Naik\examples\test1.csv")
a

    c1   C2   C3
0  1.0  2.0  NaN
1  3.0  NaN  4.0
2  NaN  5.0  NaN

In [12]:
#Q56 To use the first column as the index column 
#Ans a)pandas.read_csv('hrdata.csv',index_col='Name') 

b=pd.read_csv(r"C:\Users\SamG\Desktop\Python_ML_Krish_Naik\examples\test1.csv",index_col='c1')
b

      C2   C3
c1
1.0  2.0  NaN
3.0  NaN  4.0
NaN  5.0  NaN

In [19]:
#Q57  To open te file for reading as a text file
#Ans b)open('dog_breeds.txt','r')
#    c)open('dog_breeds.txt')
    
    
reader=open(r"C:\Users\SamG\Desktop\Python_ML_Krish_Naik\examples\dog_breeds.txt",'r')
type(reader)
reader.read()
reader.seek(0)
reader.readlines()

['Pug\n',
 'Jack Russell Terrier\n',
 'English Springer Spaniel\n',
 'German Shepherd\n',
 'Staffordshire Bull Terrier\n',
 'Cavalier King Charles Spaniel\n',
 'Golden Retriever\n',
 'West Highland White Terrier\n',
 'Boxer\n',
 'Border Terrier']

In [ ]:
#Q58 cwd - root folder
#Ans   cd /animals/feline

In [ ]:
#Q59 Reading as a buffered binary file
#Ans a) open('jack_russell.png','rb')

In [20]:
#Q60  CWD - root folder
#Ans cd /animals/ursine/bears.gif

In [22]:
#Q61   To ensure that the a file objct is cloed properly after uage
#Ans  d) By using the with statement

with open(r"C:\Users\SamG\Desktop\Python_ML_Krish_Naik\examples\dog_breeds.txt",'r') as reader:
    print("hello")

hello

In [ ]:
#Q62  CWD - feline
#Ans  cd ../ursine/bears.gif

In [31]:
#Q63  Method for reading the entire file into a single string
#Ans b) .read()

with open(r"C:\Users\SamG\Desktop\Python_ML_Krish_Naik\examples\dog_breeds.txt",'r') as reader:
    print(reader.read())
    
type(reader)

Pug
Jack Russell Terrier
English Springer Spaniel
German Shepherd
Staffordshire Bull Terrier
Cavalier King Charles Spaniel
Golden Retriever
West Highland White Terrier
Boxer
Border Terrier

_io.TextIOWrapper

In [35]:
#Q64  1.73 rounded up to one decimal   ( ceil)
#Ans  a) 1.8

2

In [ ]:
#Q65 -2.961 rounded down to 2 decimal places  (floor)
#Ans  b) -2.97

In [44]:
#Q66 
#Ans b) Positive numbers are rounded down and negative numbers are rounded up

#Positive number = 3.5
import math 
print(math.floor(3.5)) # floor 
print(math.trunc(3.5)) # work as floor 
print(math.ceil(3.5))  # ceil

#Negative number  = -3.5
print(math.floor(-3.5)) # floor
print(math.trunc(-3.5)) # work as ceil
print(math.ceil(-3.5))  # ceil

3
3
4
-4
-3
-3

In [45]:
#Q101
#Ans b) matplotlib enables us to plot graphics

In [ ]:
#Q102 resize will affect the original array while using reshape create a new reshaped instance of the array.
#Ans a)reshape ,resize

In [ ]:
#Q103  NumPy arange function creates sequence of numbers which return an array
#Ans  a)arange

In [ ]:
#Q104
#Ans d) All of the above

In [ ]:
#Q105  To stack mutiple 1D arrays as columns into a 2D array
#Ans  b)column_stack

In [46]:
#Q106  ndarray is known asn an alias array
#Ans a) True

In [ ]:
#Q107 NumPy has ndarray.view() method which is a new array object that looks at the same data of the original array.
#Ans a) view